.basket-goods {
  width: 100%;

  &__product {
    text-align: left;
  }
}

.basket-product-captions {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid rgb(37 113 67 / 50%);
}

table {
  table-layout: auto;
}

thead {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 1rem;
    background-color: $color-font-inactive;
  }
}

th,
td {
  padding: 1rem 1rem 3rem;
}
