.filters {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__category {
    padding-left: 15px;
    .filter__list {
      height: 420px;
    }
  }
  &__brand {
    .filter__list {
      height: 220px;
    }
  }
}
