@import './normalize.scss';
@import './fonts.scss';

html {
    font-size: 10px;
}

body {
    max-width: 1440px;
    margin: 0 auto;
	font-family: 'CeraProReg', arial, serif;
    font-size: 1.6rem;
    background-color: #FFF;
    color: $color-font;
}

a {
    text-decoration: none;
    color: inherit;
}