@import "./normalize";
@import "./fonts";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: CeraProReg, arial, serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: $color-font;
}

#app {
  padding: 24px 0;
}

.h2 {
  font-size: 2.8rem;
  color: $color-font;
}

.header,
.main,
.footer {
  max-width: 1200px;
  margin: 0 auto;
}
