@mixin button ($width: 130px, $height: 40px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: $height;
    font-family: 'CeraProMedium', arial, serif;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(0 0 1rem $color-primary);
    }
}