$color-font: #3d3d3d;
$color-primary: #a34646;
$color-secondary: #257143;
$color-rating: #ffda2d;
$color-font-inactive: #cbcbcb;
$color-basket-nav: #d9d9d9;
$color-basket-font-light: #a5a5a5;
$color-basket-font-normal: #727272;
