.basket {
  padding: 3.5rem 1rem 0;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 70%;
  }

  &__aside-block {
    width: 25%;
  }
}

.basket-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  font-size: 3rem;
  font-family: CeraProBold, arial, serif;
  color: $color-primary;
  background-image: url("../../assets/img/background_not_found.png");
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin-top: 2rem;
  text-align: center;
}
