.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__discont {
    position: absolute;
    z-index: 2;
    top: 1.4rem;
    left: -0.4rem;

    @include product-label;
  }

  &__stock {
    position: absolute;
    z-index: 2;
    top: 5.4rem;
    left: -0.4rem;

    @include product-label;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 0.5rem;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    min-height: 3.5rem;
  }

  &__category {
    &__title {
      font-size: 1.2rem;
      font-weight: 700;
    }

    &__text {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__brand {
    margin-bottom: 0.5rem;

    &__title {
      font-size: 1.2rem;
      font-weight: 700;
    }

    &__text {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__rating {
    &__indicator {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 59%;
      scale: 0.95;
      background-color: $color-rating;
    }

    &__stars {
      position: relative;
      height: 3.5rem;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1rem;

      img {
        height: 100%;
      }
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;

    &__new {
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-secondary;
    }

    &__old {
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-font-inactive;
      text-decoration: line-through;
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
    font-weight: 700;

    &_red {
      @include button(40%);
    }

    &_white {
      @include button(80%);
    }
  }
}
