.controls {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .sorter {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__title {
      font-size: 1.6rem;
    }

    &__droplist {
      cursor: pointer;
      border: none;
    }
  }

  .search {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__input-wrap {
      cursor: pointer;
      position: relative;
    }

    &__result {
      color: $color-secondary;
      font-size: 1.6rem;
      margin-right: 2rem;
    }

    &__input {
      font-size: 1.6rem;
      padding: 0.3rem 1rem;
      border: 1px solid $color-secondary;
      border-radius: 1.6rem;
    }

    &__reset {
      color: $color-secondary;
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      right: 0.6rem;
      top: 0.4rem;
      border: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(0.8);
      }

      &:active {
        transform: scale(1);
      }
    }

    &__icon {
      cursor: pointer;
      width: 2.5rem;
      height: 2.3rem;
      border: 0;
      padding: 0;
      background-color: transparent;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(0.9);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__mode {
    display: flex;
    gap: 1.6rem;

    &__item {
      cursor: pointer;
      width: 3.2rem;
      height: 3.2rem;
      padding: 1px;

      &.active {
        border: 2px solid $color-font;
        border-radius: 2px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
