@import './normalize.scss';
@import './fonts.scss';

html {
    font-size: 10px;
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
	font-family: 'CeraProReg', arial, serif;
    font-size: 1.6rem;
    background-color: #FFF;
    color: $color-main;
}